body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}


.hero {
    background: radial-gradient(ellipse at top, #0f172a, #334155);
    width: 100%;
    height: 108px;
    padding: 0em;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}
.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 15px;
    z-index: 1;
}
.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.social-icons a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #000000;
}

.page-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bolder;
    color: white;
    text-align: left;    
}
.logo img {
    border: 2px dashed white;
    border-radius: 50%;    
    height: 80px;
    transition: transform 0.8s ease-in-out
    
    
}
@keyframes flipAnimation {
    0% {
        transform: perspective(800px) rotateY(0deg);
    }
    50% {
        transform: perspective(800px) rotateY(180deg);
    }
    100% {
        transform: perspective(800px) rotateY(360deg);
    }
}
.logo img:hover {
    animation: flipAnimation 0.8s ease-in-out forwards;

    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

/* Navbar Styling */
.navbar {
    position: relative;
    margin-top: 5px;
    background-color: black; /* Dark Blue */
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 3em;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-item {

    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* Hover Effect */
.nav-item:hover {
    font-size: 19px;
}

/* Icon that appears on hover */
.nav-item::after {
    content: "";
    font-family: "FontAwesome";
    margin-left: 5px;
    font-size: 0px; /* Initially hidden */
    transition: font-size 0.3s ease-in-out;
}

/* Show Icon on Hover */
.nav-item:hover::after {
    font-size: 20px;
}

.nav-item[data-icon="fa-cart"]::after { content: "\f217"; }  /* Watch Icon */
.nav-item[data-icon="fa-info-circle"]::after { content: "\f05a"; }  /* Info Icon */
.nav-item[data-icon="fa-envelope"]::after { content: "\f0e0"; }  /* Envelope Icon */
.nav-item[data-icon="fa-star"]::after { content: "\f005"; }  /* Star Icon */


.featured {
    position: relative;
    background: linear-gradient(to top, #d1d5db, #6b7280, #374151);
    padding: 2em;
    font-size: 20px;
    color: white;
    text-align: center;
}

.product-overlay {
    /* background: url("/f_bg.jpg"); */
    background-color: grey;
    display: grid;    
    padding: 50px; 
    gap: 50px;
    grid-template-columns: repeat(5, 1.5fr);
    grid-template-rows: repeat(5, 100px);
    border-color: #000000 5px solid;
    border-radius: 20px;

}

.him { 
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    background-color: plum;
    opacity: 70%;
}

.him:hover{
    border: #000000 1px solid;
    border-radius: 20px;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.her:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
    border: #000000 1px solid;}

.her{  
    background-color: palegreen;
    grid-row: 3 / 6;
    grid-column: 3 / 6;
    opacity: 70%;
} 



.about {
    background: conic-gradient(at bottom right, #525252, #a3a3a3, #e5e5e5);
    color: white;
    font-size: 20px;
    padding: 2em;
    text-align: left;
}

.gallery {
    background: linear-gradient(to top right, #ffe4e6, #ccfbf1);
    padding: 7em;
    text-align: center;
}

.gallery-item {    
    background: conic-gradient(at bottom, #ffe4e6, #ccfbf1); 
    margin: 10px;
    display: inline-block;
    padding: 7px;
    border-radius: 7px;
    width: 200px;
    color: black;
}

.gallery-item:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    border: #000000 2px solid;
    
}

.testimonials {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    color: black;
    padding: 2em;
    text-align: center;
}
.circle-section {
    text-align: center;
    padding: 4em;
    background: linear-gradient(to top right, #6366f1, #a5b4fc, #e0e7ff);
}

.circle {
    width: 650px;
    height: 150px;
    border-radius: 15px;    
    background: lavender;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 350px 350px;
    margin: 20px 0px;
    line-height: 100px;
    color: black;
    font-weight: bolder;
}
#c1{
    grid-column: 1 / 2;
}
#c2{

}
#c3{

}
#c4{

}

.faq-section {
    background-image: radial-gradient( circle farthest-corner at 3.7% 49.8%,  rgba(143,232,255,1) 21.9%, rgba(209,243,251,1) 52.9% );
    padding: 3em;
}

.faq-title {
    cursor: pointer;
    padding: 1em;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    margin: 0;
    border: 2px solid #000000;
}

.faq-content {
    display: none;
    padding: 1em;
    border: 1px solid #ccc;
    margin-top: 0;
}
.promo-banner {
    background: #EBE5C2; 
    color: black;
    text-align: center;
    padding: 2em;
    border-radius: 5px;
    margin: 2em 0;
}
.countdown {
    background: radial-gradient(ellipse at left, #6366f1, #a5b4fc, #e0e7ff);
    color: black;
    text-align: center;
    padding: 2em;
}

.timer span {
    font-size: 2em;
    margin: 0 10px;
}
.newsletter {
    background: linear-gradient(0deg, #99ccff 0%, #fffafa 100%);
    color: black;
    text-align: center;
    padding: 2em;
}

.newsletter input {
    padding: 1em 1em;
    margin: 1em;
    border-radius: 5px;
}

.newsletter button {
    padding: 0.5em 1em;
    background-color: #ebe3cb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.newsletter button:hover{
    transform: scale(1.2);
    font-weight: bolder;
    border: 1px solid black ;

}

.testimonials-carousel {
    background-color: #e3e3e3;
    padding: 2em;
    text-align: center;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.testimonial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 2em;
    transition: transform 5s ease-in-out;
    gap: 20px;
}

.slider {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 10px 0;
}
.slider .logos {
    display: flex;
    gap: 70px;
    animation: scroll 10s reverse linear infinite;
    width: max-content;
}
.slider .logos img {
    max-width: 150px;
    height: auto;
}
.slider .logos:hover {
    animation-play-state: paused;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

